html
    head
        link(rel='stylesheet', href='css/app.css')
    title SVG Morpheus Test
    body
        svg#player-control(version='1.1', width='80px', height='80px', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 100 100', enable-background='new 0 0 100 100', xml:space='preserve')
            rect(fill='none', stroke='#ffffff', stroke-width='2.2', width='100', height='100')/
            g#icon-pause
                line(fill='none', stroke='#ffffff', stroke-width='8', stroke-miterlimit='10', x1='42', y1='34.541', x2='42', y2='65.459')/
                line(fill='none', stroke='#ffffff', stroke-width='8', stroke-miterlimit='10', x1='57', y1='34.541', x2='57', y2='65.459')/
            g#icon-play
                polygon(fill='#ffffff', points='42.8,27.6 42.8,73.1 65.2,50.6')/
        hr
        button#btn-play play
        button#btn-pause pause

    script(src='js/app.js')
